.body{
    background-color: black;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    
}

.textsl{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 17px;
letter-spacing: 2px;
word-spacing: 2px;
color: #f3eeee;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.container{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 120px);
}

.bodyRight{
    flex: 1;
    margin-top: 10px;

}

.bodyLeft{
    flex: 1;
}

.formContainer{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto ;
    
    background: rgba(145, 141, 141, 0.21);
border-radius: 50px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.5px);
-webkit-backdrop-filter: blur(9.5px);
border: 1px solid rgba(145, 141, 141, 0.3);
width: 500px;
height: 405px;
    
}

.logoContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
}

.myinputs{
    width: 70%;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 20px;
}

.Accountcontainer{
    background-color: #fff;
    border-radius: 40px;
    padding: 8px;
    color: black;
    margin-bottom: 10px;
    
}

.bodyLeft{

}

.bodyLeftContainer{
    margin-top: 30px;
    
    margin-left: auto;
    margin-right: auto;
    width: 80%;
height: 90%;
    background: rgba(239, 235, 235, 0.989);
border-radius: 30px;
box-shadow: 0 4px 30px rgba(244, 240, 240, 0.966);
backdrop-filter: blur(9.5px);
-webkit-backdrop-filter: blur(9.5px);
border: 1px solid rgba(220, 216, 216, 0.854);
display: flex;
flex-direction: column;
}

.loaderContainer{
    margin-top: 100px;
    
    
}

.imgPrompt{
    text-align: center;
    color: black;
    margin-top: 100px;
    font-size: 25px;
}

.fileInput{
    display: none;
}

.uploadlogo{
    height: 59px;
    width: 59px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.uploadtext{
    font-size: 10px;
    text-align: center;
}

.buttonscontainer{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.uploadfile{
    flex: 1;

}

.submitbutton{
    flex: 1;
    
}

.mysubmitbutton{
    background-color: #fa4753;
    width: 72%;
    text-align: center;
    margin-top: 35px;
    padding-top: 10px;
    padding-bottom: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.submitbtntext{
    font-size: 20px;
}






